@mixin contact_us {
  .contact-us {
    box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.1);
    padding: 60px 0;
    overflow: hidden;
    background-color: #fff;
    header {
      display: flex;
      justify-content: center;
      align-items: center;
      h1 {
        @include primary_font_primary_color;
        font-size: 36px;
        font-weight: 500;
        margin-bottom: 60px;
      }
    }
    .contact-us__main {
      display: flex;
      justify-content: space-around;
      .contact-us__main--left {
        width: 45%;
        .contact-us__map {
          max-width: 100%;
        }
      }
      .contact-us__main--rigth {
        width: 45%;
        .contact-us__header {
          display: flex;
          justify-content: space-between;
          align-items: baseline;
          .contact-us__address,
          .contact-us__email,
          .contact-us__phone {
            display: flex;
            align-items: baseline;
            justify-content: center;
          }
          i {
            color: $tertiary_color;
            font-size: 32px;
          }
          p {
            font-family: $secondary_font;
            font-size: 14px;
            padding: 0 0 10px 10px;
          }
        }
        .contact-us__form {
          margin-top: 30px;
          .contact-us__container {
            display: flex;
            flex-direction: column;
            .contact-us__info {
              display: flex;
              margin-bottom: 20px;
              .contact-us__name,
              .contact-us__mail {
                width: 49%;
                @include contact-us__form;
              }
              .contact-us__mail {
                margin-left: 15px;
              }
            }
          }
          .contact-us__subject,
          .contact-us__message {
            @include contact-us__form;
            margin-bottom: 20px;
          }
          .contact-us__subject {
            width: 100%;
          }
          .contact-us__message {
            textarea {
              height: auto;
            }
          }
          .contact-us__button {
            display: flex;
            justify-content: center;
            button[type="submit"] {
              font-family: $secondary_font;
              background: #007bff;
              border: 0;
              border-radius: 20px;
              padding: 8px 30px;
              color: #fff;
              transition: 0.3s;
              font-size: inherit;
            }
            button[type="submit"]:hover {
              background-color: #0067d5;
              cursor: pointer;
            }
          }
        }
      }
    }
  }
}

@mixin contact_us_media_768_991 {
  .contact-us {
    .contact-us__main {
      flex-direction: column;
      align-items: center;
      .contact-us__main--left,
      .contact-us__main--rigth {
        width: 95%;
      }
      .contact-us__main--rigth {
        .contact-us__header {
          .contact-us__address,
          .contact-us__email,
          .contact-us__phone {
            margin-top: 20px;
            i {
              width: 32px;
            }
            p {
              padding-left: 20px;
            }
          }
        }
        .contact-us__form {
          .contact-us__container {
            .contact-us__info {
              margin-bottom: 0;
              flex-direction: column;
              .contact-us__name,
              .contact-us__mail {
                width: 100%;
              }
              .contact-us__mail {
                margin-left: 0;
                margin-top: 20px;
              }
            }
            .contact-us__subject {
              margin-top: 20px;
            }
          }
        }
      }
    }
  }
}

@mixin contact_us_media_767 {
  .contact-us {
    .contact-us__main {
      flex-direction: column;
      align-items: center;
      .contact-us__main--left,
      .contact-us__main--rigth {
        width: 90%;
      }
      .contact-us__main--rigth {
        .contact-us__header {
          flex-direction: column;
          .contact-us__address,
          .contact-us__email,
          .contact-us__phone {
            margin-top: 20px;
            i {
              width: 32px;
            }
            p {
              padding-left: 20px;
            }
          }
        }
        .contact-us__form {
          .contact-us__container {
            .contact-us__info {
              margin-bottom: 0;
              flex-direction: column;
              .contact-us__name,
              .contact-us__mail {
                width: 100%;
              }
              .contact-us__mail {
                margin-left: 0;
                margin-top: 20px;
              }
            }
            .contact-us__subject {
              margin-top: 20px;
            }
          }
        }
      }
    }
  }
}
