@import "variables";

@mixin flex_center_center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin flex_column_center_center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@mixin flex_column_around_center {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

@mixin primary_font_primary_color {
  font-family: $primary_font;
  color: $primary_font_color;
}

@mixin secondary_font_secondary_color {
  font-family: $secondary_font;
  color: $secondary_font_color;
}
