$primary_font: "Montserrat", sans-serif;
$secondary_font: "Open Sans", sans-serif;

$primary_font_color: #283d50;
$secondary_font_color: #556877;

// $primary_color: 
// $secondary_color: 
$tertiary_color: #007bff;