$primary-font: "Montserrat", sans-serif;
$secondary-font: "Open Sans", sans-serif;

.container {
  background-color: #004a99;
  color: #fff;
  font-family: $primary-font;
  text-align: center;
  position: relative;
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  padding: 60px 0;
}

#why_us {
  width: 100%;
  display: flex;
}

.header-section {
  p {
    font-family: $secondary-font;
    padding-bottom: 60px;
    text-align: center;
    margin: auto;
    font-size: 15px;
    width: 50%;
  }
  h3 {
    font-size: 36px;
    padding-top: 60px;
    margin: 0 0 20px 0;
    position: relative;
  }
}

.readmore {
  color: #fff;
  font-weight: 600;
  display: inline-block;
  transition: 0.3s ease-in-out;
  border-bottom: #00458f solid 2px;
}

.readmore:hover {
  border-bottom: #fff solid 2px;
}

.columnas {
  display: flex;
  padding-right: 15px;
  padding-left: 15px;
  justify-content: center;
  text-align: center;
  height: 100%;
  transition: 0, 3s ease-in-out;
}

.rec1,
.rec2,
.rec3 {
  border: 1px solid rgba(0, 0, 0, 0.125);
  flex-direction: column;
  position: relative;
  box-sizing: border-box;
  background: #00458f;
  border-color: #00458f;
  border-radius: 10px;
  margin: 0 15px;
  padding: 15px 0;
  text-align: center;
  width: 259.98px;
  height: 317px;
}

.rec1:hover {
  background: #003b7a;
  border-color: #003b7a;
}

.rec2:hover {
  background: #003b7a;
  border-color: #003b7a;
}

.rec3:hover {
  background: #003b7a;
  border-color: #003b7a;
}

.rec1-body p,
.rec2-body p,
.rec3-body p {
  font-size: 15px;
  font-family: $secondary-font;
  color: #d8eafe;
}

.rec1-body {
  width: 257.98px;
  height: 222px;
  padding: 1.25rem;
}

.rec2-body {
  width: 257.98px;
  height: 222px;
}

.rec3-body {
  width: 257.98px;
  height: 222px;
}

.columnas {
  i {
    font-size: 48px;
    padding-top: 15px;
    color: #bfddfe;
  }
  p {
    margin: 0 0 30px 0;
  }
  a {
    text-decoration: none;
    background-color: transparent;
  }
  h5 {
    display: block;
    font-size: 22px;
    font-weight: 600;
    padding-bottom: 20px;
  }
}

.contadores {
  padding-top: 40px;
  text-align: center;
  columns: 4;
  p {
    text-align: center;
  }
  span {
    font-family: $primary-font;
    font-weight: bold;
    font-size: 48px;
    display: block;
    color: #fff;
  }
}

#team {
    background: #fff;
    padding: 60px 0;
    box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.1);
}

.container-team {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    }

.section-headerteam {
    h3 {
    font-family: $primary-font;
    margin: 0 0 20px 0;
    padding: 0;
    line-height: 1.2;
    font-size: 36px;
    color: #283d50;
    text-align: center;
    font-weight: 500;
    position: relative;
    }
    p {
    text-align: center;
    margin: auto;
    font-size: 15px;
    padding-bottom: 60px;
    color: #556877;
    width: 50%;
    }
}

.rowteam {
    display: flex;
   flex-direction: column;
  //  flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
    .bat1, .bat2, .bat3, .bat4 {
    padding-right: 15px;
    padding-left: 15px;
    flex: 0 0 25%;
  
    h4 {
    font-weight: 700;
    margin-bottom: 2px;
    font-size: 18px;
    color: #fff;
    }
    }
}


.img-fluid {
    max-width: 100%;
    height: auto;
}

.member-info {
    opacity: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    transition: 0.2s;
}

.member:hover .member-info {
    background: rgba(0, 62, 128, 0.7);
    opacity: 1;
    transition: 0.4s;
}

.member-info-content {
    margin-top: 50px;
    transition: margin 0.2s;
}

.member:hover .member-info-content {
    margin-top: 0;
    transition: margin 0.4s;
}

#team .member span {
    font-style: italic;
    display: block;
    font-size: 13px;
    color: #fff;
    padding-bottom: 14px;
}

.member {
    text-align: center;
    margin-bottom: 20px;
    position: relative;
    border-radius: 50%;
    overflow: hidden;
    img {
    vertical-align: middle;
    .img-fluid {
    vertical-align: middle;
    border-style: none;
    }
    }
}

.social-team {
    i {
    font-size: 18px;
    margin: 0 2px;
    color: #fff;
    }
    a {
    color: #fff;
    transition: none;
    text-decoration: none;
    }
}


// <!------ MEDIAQUERIES ------>

@media (min-width: 320px) and (max-width: 539px) {
.rowteam {
display: flex;
flex-direction: column;
margin: 0;
}
.member {
  width: 100%;
}
.contadores {
  display: flex;
  flex-direction: column;
} 
}