@import url("https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap");

$main_font: 'Montserrat',
sans-serif;
$secondary_font: 'Open Sans',
sans-serif;

@mixin flex-column {
  display: flex;
  flex-direction: column;
}

@mixin flex-center-center {
  display: flex;
  justify-content: center;
  align-items: center
}

footer {
  font-family: $main_font;
  background-color: #004a99;
  color: #fff;
  @include flex-column;

  a {
    text-decoration: none;
    color: #fff;
    transition: 0.5s;
  }

  i {
    color: #fff;
  }

  p,
  h4 {
    margin: 0;
    padding: 0;
  }

  .bold {
    font-weight: bold;
  }
}

.footer_principal_container {
  padding: 50px;

  .row {
    display: flex;
    justify-content: space-between;


    .wayne {
      padding-right: 30px;


      .header_wayne {
        font-size: 34px;
        margin-bottom: 5px;

        p {
          margin-bottom: 25px;
        }
      }
    }

    .newsletter {
      p {
        line-height: 20px;
      }
    }

    .useful {
      align-items: center;

      ul {
        @include flex-column;
        line-height: 35px;
        padding: 0px;
        margin-top: 10px;
        list-style: none;
      }

      ul a:hover {
        color: #74b5fc;
      }
    }

    .contact_us_footer {
      line-height: 25px;
      color: #ffffff;

      .contact_info {
        @include flex-column;
        font-size: 12px;
      }

      .contact_icons {
        display: flex;
        margin-top: 15px;

        a {
          border-radius: 50%;
          background: #007bff;
          width: 36px;
          height: 36px;
          @include flex-center-center;
          margin: 3px;
          transition: all 1s;


        }

        a:hover {
          background-color: #0067d5;
        }
      }
    }

    .subscribe {
      display: flex;
      height: 34px;
      margin-top: 30px;

      input[type="email"] {
        width: 100%;
        height: auto;
        border: none;
      }

      input[type="submit"] {
        background-color: #007bff;
        border: none;
        color: #fff;
        width: 130px;
        height: auto;
        transition: all 0.5s;
        font-family: inherit;
      }

      input[type="submit"]:hover {
        background-color: #0067d5;
      }
    }
  }
}


.useful,
.wayne,
.contact_us_footer,
.newsletter {
  width: 25%;
  flex-grow: 1;
  flex-shrink: 1;

}

.useful h4,
.wayne h4,
.contact_us_footer h4,
.newsletter h4,
h4>.contact_info,
.newsletter>p {
  margin-bottom: 15px;
}


.footer_secundario {
  background-color: #00428a;
  height: 80px;
  @include flex-center-center;
  @include flex-column;
  font-size: 14px;
  padding: 20px;

  div p {
    margin: 5px;
  }
}

.back-to-top {
  @include flex-center-center;
  position: fixed;
  background: #007bff;
  color: #fff;
  width: 44px;
  height: 44px;
  font-size: 16px;
  border-radius: 50%;
  right: 15px;
  bottom: 15px;
  text-decoration: none;
}

@media (max-width: 990px) {

  .row {
    flex-wrap: wrap;

    .contact_us_footer,
    .wayne {
      margin-right: 20px;
    }

    .useful,
    .wayne,
    .contact_us,
    .newsletter {
      margin-bottom: 10px;
    }

    .wayne {
      padding: 0;
      margin-right: 0;

      .header_wayne {
        margin-bottom: 10px;
      }

      .p-wayne {
        font-size: 13px;
        line-height: 24px;
      }
    }
  }

  .useful,
  .wayne {
    width: 45%;
  }

}

@media (max-width: 767px) {
  .row {
    @include flex-column;
    font-size: 13px;

    .useful,
    .wayne,
    .contact_us_footer,
    .newsletter {
      width: 100%;
      margin-bottom: 40px;
      padding: 5px;
    }
  }
}

@media (max-width: 775px) {
  .footer_principal_container {
    padding: 50px;
  }
}

@media (max-width: 575px) {
  .footer_principal_container {
    padding: 50px 10px;
  }
}