@charset "UTF-8";
@import url("https:onts.googleapis.com/css?family=Montserrat:400,700,900|Open+Sans:400,700&display=swap");
* {
  box-sizing: border-box; }

html {
  scroll-behavior: smooth; }

body {
  margin: 0; }

.nav-main {
  background-color: #ffff;
  color: #1445b3;
  height: 75px;
  width: 100%;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.3);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 80px;
  position: fixed;
  z-index: 2; }
  .nav-main .logo-ada img {
    height: 25px;
    width: 67px; }
  .nav-main .items ul {
    display: flex;
    font-family: “Montserrat”, sans-serif;
    list-style: none; }
    .nav-main .items ul li {
      margin-right: 30px; }
      .nav-main .items ul li a {
        text-decoration: none;
        color: #1445b3;
        transition: all 1s; }
    .nav-main .items ul .menudrop {
      margin: 10px;
      text-decoration: none;
      font-family: “Montserrat”, sans-serif;
      color: #1445b3; }
    .nav-main .items ul .icono-menu {
      padding: 0px;
      font-size: 12px; }
  .nav-main .menuhambur {
    display: none; }
  .nav-main #menudrop1 {
    display: none;
    background-color: #ffff;
    color: #007bff;
    font-family: “Montserrat”, sans-serif;
    list-style: none;
    font-size: 13px;
    padding: 5px 5px 0px;
    position: absolute;
    top: 45px;
    right: 200px; }
    .nav-main #menudrop1 li {
      margin: 10px 20px;
      padding: 5px;
      background-color: yellow; }
    .nav-main #menudrop1 #menudrop2 {
      display: none;
      width: 200px;
      background-color: red;
      color: #007bff;
      font-family: “Montserrat”, sans-serif;
      list-style: none;
      font-size: 13px;
      padding: 5px 5px 0px;
      position: absolute;
      top: 70px;
      left: 110px; }
      .nav-main #menudrop1 #menudrop2 li {
        margin: 10px 20px; }

.nav-main .items li a:hover {
  color: #007bff; }

.menudrop:hover + #menudrop1 {
  display: block; }

#menudrop1:hover {
  display: block; }

.nav-main .menudrop2:hover + #menudrop2 {
  display: block; }

#menudrop2:hover {
  display: block; }

#menu {
  width: 100%;
  height: 100%;
  background-color: rgba(19, 39, 57, 0.8);
  color: #ffff;
  font-family: “Open Sans”, sans-serif;
  font-weight: 500;
  position: absolute;
  top: 0;
  left: -100%;
  z-index: 2;
  transition: 1s all; }
  #menu .menu-list {
    width: 40%;
    height: 100%;
    padding: 0px;
    background-color: rgba(19, 39, 57, 0.9); }
    #menu .menu-list ul {
      list-style: none;
      line-height: 1.5; }
      #menu .menu-list ul li {
        padding: 10px; }
        #menu .menu-list ul li a {
          text-decoration: none;
          color: #ffff; }
    #menu .menu-list .menudrop3 {
      padding-bottom: 5px; }
    #menu .menu-list #menudrop3 {
      display: none;
      padding: 0px; }
    #menu .menu-list #menudrop3:hover {
      display: block; }
    #menu .menu-list .cerrar {
      position: absolute;
      right: 40px;
      top: 25px; }
      #menu .menu-list .cerrar a {
        color: #ffff; }

.intro {
  background-color: #1445b3;
  font-family: “Montserrat”, sans-serif;
  height: 600px;
  padding: 40px 80px;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center; }
  .intro .container1 {
    font-family: “Montserrat”, sans-serif;
    color: #ffff;
    width: 50%;
    height: auto;
    vertical-align: top;
    display: flex;
    flex-direction: column;
    justify-content: center; }
  .intro .titulo1 {
    margin-bottom: 50px; }
    .intro .titulo1 h2 {
      font-size: 50px;
      font-weight: 700;
      margin: 0px;
      padding: 0px;
      line-height: 1.2; }
    .intro .titulo1 span {
      color: #ffff;
      font-size: 55px;
      font-weight: 700;
      color: #74b5fc;
      text-decoration: underline; }
  .intro .link1 a {
    font-family: “Montserrat”, sans-serif;
    color: #ffff;
    text-decoration: none;
    font-size: 15px;
    font-weight: 600;
    letter-spacing: 1px;
    padding: 10px 32px;
    margin: 0 20px 20px 0;
    border: 2px solid white;
    border-radius: 40px;
    transition: all 1; }
  .intro .link1 a:hover {
    background: #007bff;
    border-color: #007bff;
    color: #ffff; }
  .intro .imgintro {
    width: 50%; }
  .intro .imgintro img {
    height: auto;
    width: 100%; }

.sec-portfolio {
  background-color: #ffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 60px 0px;
  box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.1); }
  .sec-portfolio .container-portfolio .header-portfolio {
    margin: 25px; }
    .sec-portfolio .container-portfolio .header-portfolio h3 {
      width: 100%;
      font-family: “Montserrat”, sans-serif;
      font-size: 36px;
      color: #283d50;
      font-weight: 500;
      display: flex;
      justify-content: center; }
  .sec-portfolio .container-portfolio .list-portfolio ul {
    font-family: “Open Sans”, sans-serif;
    padding: 0;
    margin: 5px 0 35px 0;
    display: flex;
    justify-content: center;
    align-items: center; }
    .sec-portfolio .container-portfolio .list-portfolio ul .all-port {
      background: #007bff;
      color: #ffff; }
    .sec-portfolio .container-portfolio .list-portfolio ul li {
      background-color: #ecf5ff;
      color: #007bff;
      font-size: 12px;
      list-style: none;
      border-radius: 50px;
      display: flex;
      flex-direction: row;
      justify-content: center;
      margin: 10px 20px;
      padding: 5px 10px; }
  .sec-portfolio .container-portfolio .images-port {
    width: 100%;
    display: flex;
    margin: 0;
    padding: 0;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap; }
    .sec-portfolio .container-portfolio .images-port .img-port {
      width: 350px;
      height: 250px;
      border-radius: 10px;
      margin: 10px;
      overflow: hidden;
      position: relative; }
    .sec-portfolio .container-portfolio .images-port img {
      position: absolute;
      width: 100%;
      height: 100%;
      object-fit: cover; }
    .sec-portfolio .container-portfolio .images-port .port-overflow {
      width: 350px;
      height: 250px;
      color: #ffff;
      background-color: rgba(19, 39, 57, 0.5);
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      transform: translateY(250px);
      z-index: 9; }
      .sec-portfolio .container-portfolio .images-port .port-overflow h4 {
        font-family: “Montserrat”, sans-serif;
        font-size: 22px;
        font-weight: 700;
        padding: 0px;
        margin: 5px;
        z-index: 1; }
      .sec-portfolio .container-portfolio .images-port .port-overflow p {
        font-family: “Open Sans”, sans-serif;
        font-weight: 500;
        font-size: 14px;
        padding: 0px;
        margin: 15px;
        z-index: 1; }
      .sec-portfolio .container-portfolio .images-port .port-overflow div .overflow-icon {
        background-color: #007bff;
        color: #ffff;
        font-size: 15px;
        text-align: center;
        border-radius: 50px;
        padding: 10px;
        margin: 10px;
        z-index: 1; }

.sec-portfolio .container-portfolio .list-portfolio ul li:hover {
  background: #007bff;
  color: #ffff; }

.sec-portfolio .container-portfolio .images-port .img-port:hover .port-overflow {
  transform: translateY(0);
  z-index: 99; }

.sec-portfolio .container-portfolio .images-port .img-port .port-overflow h4:hover {
  color: #007bff; }

.sec-portfolio .container-portfolio .images-port .img-port .port-overflow .overflow-icon:hover {
  background-color: #3395ff; }

@media (max-width: 620px) and (min-width: 320px) {
  .nav-main {
    padding: 20px;
    height: 60px;
    display: flex;
    align-items: center; }
    .nav-main .items {
      display: none; }
    .nav-main .menuhambur {
      display: block;
      position: absolute;
      right: 40px;
      top: 25px; }
      .nav-main .menuhambur a {
        color: #1445b3; }
  #menu:target {
    left: 0px; }
  #menu ul li a:hover {
    color: #74b5fc; }
  #menu ul li .menudrop3:hover + #menudrop3 {
    display: block; }
  .intro {
    padding: 120px 20px;
    height: 700px;
    display: flex;
    flex-direction: column;
    align-items: center; }
    .intro .imgintro {
      width: 80%; }
    .intro .container1 {
      width: 100%;
      text-align: center;
      margin-bottom: 20px; }
      .intro .container1 .titulo1 h2 {
        font-size: 35px; }
      .intro .container1 .titulo1 span {
        font-size: 35px; }
    .intro .link1 {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
      align-items: center; }
      .intro .link1 .botonget {
        background: #007bff;
        border-color: #007bff;
        color: #ffff; } }

@media (max-width: 990px) and (min-width: 625px) {
  .nav-main {
    padding: 0px 20px;
    height: 60px;
    display: flex;
    align-items: center; }
    .nav-main .items {
      display: none; }
    .nav-main .menuhambur {
      display: block;
      position: absolute;
      right: 40px;
      top: 20px; }
      .nav-main .menuhambur a {
        color: #1445b3; }
  #menu {
    width: 100%;
    height: 800px; }
    #menu .cerrar {
      display: block;
      position: absolute;
      right: 40px;
      top: 20px; }
      #menu .cerrar a {
        color: #ffff; }
  #menu:target {
    left: 0px; }
  #menu ul li a:hover {
    color: #74b5fc; }
  #menu ul li .menudrop3:hover + #menudrop3 {
    display: block; }
  .intro {
    padding: 120px 20px;
    height: 800px;
    display: flex;
    flex-direction: column;
    align-items: center; }
    .intro .imgintro {
      width: 75%; }
    .intro .container1 {
      width: 100%;
      text-align: center;
      margin-top: 30px; }
      .intro .container1 .titulo1 h2 {
        font-size: 42x; }
      .intro .container1 .titulo1 span {
        font-size: 42px; }
      .intro .container1 .link1 {
        width: 100%;
        display: flex;
        justify-content: center; }
        .intro .container1 .link1 .botonget {
          background: #007bff;
          border-color: #007bff;
          color: #ffff; } }

@media (max-width: 1040px) and (min-width: 995px) {
  .sec-portfolio .container-portfolio .images-port {
    width: 100%;
    display: flex; }
    .sec-portfolio .container-portfolio .images-port .img-port {
      width: 25%; } }
