@import url("https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700|Open+Sans:400,600,700&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.about_us .about_us__container {
  width: 85%;
  margin: 0 auto;
}

.about_us .about_us__container .about_us__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 50px;
}

.about_us .about_us__container .about_us__header h1 {
  font-family: "Montserrat", sans-serif;
  color: #283d50;
  font-size: 36px;
  font-weight: 500;
  margin-bottom: 20px;
}

.about_us .about_us__container .about_us__header p {
  font-family: "Open Sans", sans-serif;
  color: #556877;
  font-size: 15px;
  width: 50%;
  text-align: center;
}

.about_us .about_us__container .about_us__first_section {
  padding-bottom: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about_us .about_us__container .about_us__first_section p {
  font-family: "Open Sans", sans-serif;
  color: #556877;
}

.about_us .about_us__container .about_us__first_section .about_us__first_section_left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 45%;
  padding: 10px;
}

.about_us .about_us__container .about_us__first_section .about_us__first_section_left .about_us__first_section_left_header {
  font-family: "Open Sans", sans-serif;
}

.about_us .about_us__container .about_us__first_section .about_us__first_section_left .about_us__first_section_left_list .about_us__first_section_left_list_card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 20px;
}

.about_us .about_us__container .about_us__first_section .about_us__first_section_left .about_us__first_section_left_list .about_us__first_section_left_list_card .about_us__first_section_left_list_card_left .about_us__first_section_left_list_card_left_img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 64px;
  height: 64px;
  border-radius: 50%;
  border: 2px solid #007bff;
}

.about_us .about_us__container .about_us__first_section .about_us__first_section_left .about_us__first_section_left_list .about_us__first_section_left_list_card .about_us__first_section_left_list_card_left .about_us__first_section_left_list_card_left_img i {
  color: #007bff;
  font-size: 24px;
}

.about_us .about_us__container .about_us__first_section .about_us__first_section_left .about_us__first_section_left_list .about_us__first_section_left_list_card .about_us__first_section_left_list_card_right_text {
  margin-left: 10px;
}

.about_us .about_us__container .about_us__first_section .about_us__first_section_left .about_us__first_section_left_list .about_us__first_section_left_list_card .about_us__first_section_left_list_card_right_text h4 a {
  font-family: "Montserrat", sans-serif;
  color: #283d50;
  text-decoration: none;
}

.about_us .about_us__container .about_us__first_section .about_us__first_section_left .about_us__first_section_left_list .about_us__first_section_left_list_card .about_us__first_section_left_list_card_right_text p {
  margin-top: 5px;
  font-family: "Open Sans", sans-serif;
  line-height: 24px;
  font-size: 14px;
}

.about_us .about_us__container .about_us__first_section .about_us__first_section_rigth {
  margin-left: 10px;
  width: 45%;
}

.about_us .about_us__container .about_us__first_section .about_us__first_section_rigth img {
  max-width: 100%;
}

.about_us .about_us__container .about_us__second_section {
  padding: 50px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.about_us .about_us__container .about_us__second_section .about_us__second_section_left {
  margin-right: 10%;
  width: 45%;
}

.about_us .about_us__container .about_us__second_section .about_us__second_section_left img {
  max-width: 100%;
}

.about_us .about_us__container .about_us__second_section .about_us__second_section_rigth {
  width: 45%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about_us .about_us__container .about_us__second_section .about_us__second_section_rigth h1 {
  font-family: "Montserrat", sans-serif;
  color: #283d50;
  font-size: 24px;
}

.about_us .about_us__container .about_us__second_section .about_us__second_section_rigth p {
  font-family: "Open Sans", sans-serif;
  color: #556877;
  font-size: 15px;
  text-align: left;
}

.about_us .about_us__container .about_us__third_section {
  padding: 50px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.about_us .about_us__container .about_us__third_section .about_us__third_section_left {
  margin-right: 10%;
  width: 45%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about_us .about_us__container .about_us__third_section .about_us__third_section_left h1 {
  font-family: "Montserrat", sans-serif;
  color: #283d50;
  font-size: 24px;
}

.about_us .about_us__container .about_us__third_section .about_us__third_section_left p {
  font-family: "Open Sans", sans-serif;
  color: #556877;
  font-size: 15px;
  text-align: left;
}

.about_us .about_us__container .about_us__third_section .about_us__third_section_rigth {
  width: 45%;
}

.about_us .about_us__container .about_us__third_section .about_us__third_section_rigth img {
  max-width: 100%;
}

@media (max-width: 991px) {
  .about_us .about_us__container {
    width: 80%;
  }
  .about_us .about_us__container .about_us__first_section {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .about_us .about_us__container .about_us__first_section .about_us__first_section_left {
    width: 100%;
  }
  .about_us .about_us__container .about_us__first_section .about_us__first_section_left .about_us__first_section_left_list .about_us__first_section_left_list_card {
    margin-top: 5px;
  }
  .about_us .about_us__container .about_us__first_section .about_us__first_section_rigth {
    width: 100%;
  }
  .about_us .about_us__container .about_us__second_section {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .about_us .about_us__container .about_us__second_section .about_us__second_section_left {
    width: 100%;
    margin-bottom: 10px;
  }
  .about_us .about_us__container .about_us__second_section .about_us__second_section_rigth {
    width: 100%;
  }
  .about_us .about_us__container .about_us__second_section .about_us__second_section_rigth h1,
  .about_us .about_us__container .about_us__second_section .about_us__second_section_rigth p {
    margin-bottom: 10px;
  }
  .about_us .about_us__container .about_us__third_section {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .about_us .about_us__container .about_us__third_section .about_us__third_section_left {
    width: 100%;
  }
  .about_us .about_us__container .about_us__third_section .about_us__third_section_rigth {
    width: 100%;
  }
}
/*# sourceMappingURL=noe.css.map */