@import url("https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700|Open+Sans:400,600,700&display=swap");
* {
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.about_us {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 60px 0 40px 0;
  -webkit-box-shadow: inset 0px 0px 12px 0px rgba(0, 0, 0, 0.1);
          box-shadow: inset 0px 0px 12px 0px rgba(0, 0, 0, 0.1);
}

.about_us .about_us__container {
  width: 90%;
}

.about_us .about_us__container .about_us__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 15px;
}

.about_us .about_us__container .about_us__header h1 {
  font-family: "Montserrat", sans-serif;
  color: #283d50;
  font-size: 36px;
  font-weight: 500;
  margin-bottom: 20px;
}

.about_us .about_us__container .about_us__header p {
  font-family: "Open Sans", sans-serif;
  color: #556877;
  font-size: 15px;
  width: 50%;
  text-align: center;
}

.about_us .about_us__container .about_us__first_section {
  padding-bottom: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about_us .about_us__container .about_us__first_section p {
  font-family: "Open Sans", sans-serif;
  color: #556877;
}

.about_us .about_us__container .about_us__first_section .about_us__first_section_left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 45%;
  padding: 10px;
}

.about_us .about_us__container .about_us__first_section .about_us__first_section_left .about_us__first_section_left_header {
  line-height: 1.5;
  font-family: "Open Sans", sans-serif;
}

.about_us .about_us__container .about_us__first_section .about_us__first_section_left .about_us__first_section_left_list .about_us__first_section_left_list_card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 20px;
}

.about_us .about_us__container .about_us__first_section .about_us__first_section_left .about_us__first_section_left_list .about_us__first_section_left_list_card .about_us__first_section_left_list_card_left .about_us__first_section_left_list_card_left_img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 64px;
  height: 64px;
  border-radius: 50%;
  border: 2px solid #007bff;
  color: #007bff;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.about_us .about_us__container .about_us__first_section .about_us__first_section_left .about_us__first_section_left_list .about_us__first_section_left_list_card .about_us__first_section_left_list_card_left .about_us__first_section_left_list_card_left_img i {
  font-size: 24px;
}

.about_us .about_us__container .about_us__first_section .about_us__first_section_left .about_us__first_section_left_list .about_us__first_section_left_list_card .about_us__first_section_left_list_card_left :hover {
  background-color: #007bff;
  color: #ffffff;
}

.about_us .about_us__container .about_us__first_section .about_us__first_section_left .about_us__first_section_left_list .about_us__first_section_left_list_card .about_us__first_section_left_list_card_right_text {
  margin-left: 10px;
}

.about_us .about_us__container .about_us__first_section .about_us__first_section_left .about_us__first_section_left_list .about_us__first_section_left_list_card .about_us__first_section_left_list_card_right_text h4 a {
  font-family: "Montserrat", sans-serif;
  color: #283d50;
  text-decoration: none;
}

.about_us .about_us__container .about_us__first_section .about_us__first_section_left .about_us__first_section_left_list .about_us__first_section_left_list_card .about_us__first_section_left_list_card_right_text p {
  margin-top: 5px;
  font-family: "Open Sans", sans-serif;
  line-height: 24px;
  font-size: 14px;
}

.about_us .about_us__container .about_us__first_section .about_us__first_section_rigth {
  margin-left: 10px;
  width: 45%;
}

.about_us .about_us__container .about_us__first_section .about_us__first_section_rigth img {
  max-width: 100%;
}

.about_us .about_us__container .about_us__second_section {
  padding: 50px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.about_us .about_us__container .about_us__second_section .about_us__second_section_left {
  margin-right: 10%;
  width: 45%;
}

.about_us .about_us__container .about_us__second_section .about_us__second_section_left img {
  max-width: 100%;
}

.about_us .about_us__container .about_us__second_section .about_us__second_section_rigth {
  width: 45%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about_us .about_us__container .about_us__second_section .about_us__second_section_rigth h1 {
  font-family: "Montserrat", sans-serif;
  color: #283d50;
  font-size: 24px;
}

.about_us .about_us__container .about_us__second_section .about_us__second_section_rigth p {
  font-family: "Open Sans", sans-serif;
  color: #556877;
  font-size: 15px;
  text-align: left;
}

.about_us .about_us__container .about_us__third_section {
  padding: 50px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.about_us .about_us__container .about_us__third_section .about_us__third_section_left {
  margin-right: 10%;
  width: 45%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about_us .about_us__container .about_us__third_section .about_us__third_section_left h1 {
  font-family: "Montserrat", sans-serif;
  color: #283d50;
  font-size: 24px;
}

.about_us .about_us__container .about_us__third_section .about_us__third_section_left p {
  font-family: "Open Sans", sans-serif;
  color: #556877;
  font-size: 15px;
  text-align: left;
}

.about_us .about_us__container .about_us__third_section .about_us__third_section_rigth {
  width: 45%;
}

.about_us .about_us__container .about_us__third_section .about_us__third_section_rigth img {
  max-width: 100%;
}

.services {
  background-color: #ecf5ff;
  padding: 60px 0 40px 0;
  -webkit-box-shadow: inset 0px 0px 12px 0px rgba(0, 0, 0, 0.1);
          box-shadow: inset 0px 0px 12px 0px rgba(0, 0, 0, 0.1);
}

.services .services__container {
  width: 85%;
  margin: 0 auto;
}

.services .services__container .services__main_header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 15px;
}

.services .services__container .services__main_header h1 {
  font-family: "Montserrat", sans-serif;
  color: #283d50;
  font-size: 36px;
  font-weight: 500;
  margin-bottom: 20px;
}

.services .services__container .services__main_header p {
  font-family: "Open Sans", sans-serif;
  color: #556877;
  font-size: 15px;
  width: 50%;
  text-align: center;
  margin-bottom: 50px;
}

.services .services__container .services__main_info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.services .services__container .services__main_info .services__main_info_card {
  overflow: hidden;
  position: relative;
  padding: 30px;
  border-radius: 10px;
  margin: 0 10px 40px 10px;
  background: #fff;
  -webkit-box-shadow: 0 10px 29px 0 rgba(68, 88, 144, 0.1);
          box-shadow: 0 10px 29px 0 rgba(68, 88, 144, 0.1);
  width: 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 4%;
}

.services .services__container .services__main_info .services__main_info_card .services__main_info_card_img {
  position: absolute;
  left: -10px;
  top: calc(50% - 32px);
  width: 20%;
}

.services .services__container .services__main_info .services__main_info_card .services__main_info_card_img .fas {
  font-size: 50px;
}

.services .services__container .services__main_info .services__main_info_card .services__main_info_card_img .fa-chart-pie {
  color: #ff689b;
}

.services .services__container .services__main_info .services__main_info_card .services__main_info_card_img .fa-book {
  color: #e9bf06;
}

.services .services__container .services__main_info .services__main_info_card .services__main_info_card_img .fa-scroll {
  color: #3fcdc7;
}

.services .services__container .services__main_info .services__main_info_card .services__main_info_card_img .fa-tachometer-alt {
  color: #41cf2e;
}

.services .services__container .services__main_info .services__main_info_card .services__main_info_card_img .fa-globe-americas {
  color: #d6ff22;
}

.services .services__container .services__main_info .services__main_info_card .services__main_info_card_img .fa-clock {
  color: #4680ff;
}

.services .services__container .services__main_info .services__main_info_card .services__main_info_card_text {
  width: 70%;
  margin-left: 20%;
}

.services .services__container .services__main_info .services__main_info_card .services__main_info_card_text h4 {
  font-family: "Montserrat", sans-serif;
  color: #283d50;
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 20px;
}

.services .services__container .services__main_info .services__main_info_card .services__main_info_card_text h4 a {
  color: #000000;
  text-decoration: none;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.services .services__container .services__main_info .services__main_info_card .services__main_info_card_text h4 :hover {
  color: #0b6bd3;
}

.services .services__container .services__main_info .services__main_info_card .services__main_info_card_text p {
  font-family: "Open Sans", sans-serif;
  color: #556877;
  font-size: 14px;
}

.contact_us {
  padding: 60px 0 0px 0;
  -webkit-box-shadow: inset 0px 0px 12px 0px rgba(0, 0, 0, 0.1);
          box-shadow: inset 0px 0px 12px 0px rgba(0, 0, 0, 0.1);
}

.contact_us .contact_us__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contact_us .contact_us__header h1 {
  font-family: "Montserrat", sans-serif;
  color: #283d50;
  font-size: 36px;
  font-weight: 500;
  margin-bottom: 60px;
}

.contact_us .contact_us__main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.contact_us .contact_us__main .contact_us__main_left {
  width: 45%;
}

.contact_us .contact_us__main .contact_us__main_left .contact_us__left_main_maps {
  max-width: 100%;
}

.contact_us .contact_us__main .contact_us__main_rigth {
  width: 45%;
}

.contact_us .contact_us__main .contact_us__main_rigth .contact_us__main_rigth_header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.contact_us .contact_us__main .contact_us__main_rigth .contact_us__main_rigth_header .contact_us__main_rigth_address,
.contact_us .contact_us__main .contact_us__main_rigth .contact_us__main_rigth_header .contact_us__main_rigth_email,
.contact_us .contact_us__main .contact_us__main_rigth .contact_us__main_rigth_header .contact_us__main_rigth_phone {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.contact_us .contact_us__main .contact_us__main_rigth .contact_us__main_rigth_header i {
  color: #007bff;
  font-size: 32px;
}

.contact_us .contact_us__main .contact_us__main_rigth .contact_us__main_rigth_header p {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  padding: 0 0 10px 10px;
}

.contact_us .contact_us__main .contact_us__main_rigth .contact_us__main_contact {
  margin-top: 30px;
}

.contact_us .contact_us__main .contact_us__main_rigth .contact_us__main_contact .contact_us__main_contact_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.contact_us .contact_us__main .contact_us__main_rigth .contact_us__main_contact .contact_us__main_contact_container .contact_us__main_contact_container_info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 20px;
}

.contact_us .contact_us__main .contact_us__main_rigth .contact_us__main_contact .contact_us__main_contact_container .contact_us__main_contact_container_info .contact_us__main_contact_container_name,
.contact_us .contact_us__main .contact_us__main_rigth .contact_us__main_contact .contact_us__main_contact_container .contact_us__main_contact_container_info .contact_us__main_contact_container_email {
  width: 49%;
}

.contact_us .contact_us__main .contact_us__main_rigth .contact_us__main_contact .contact_us__main_contact_container .contact_us__main_contact_container_info .contact_us__main_contact_container_name input,
.contact_us .contact_us__main .contact_us__main_rigth .contact_us__main_contact .contact_us__main_contact_container .contact_us__main_contact_container_info .contact_us__main_contact_container_name textarea,
.contact_us .contact_us__main .contact_us__main_rigth .contact_us__main_contact .contact_us__main_contact_container .contact_us__main_contact_container_info .contact_us__main_contact_container_email input,
.contact_us .contact_us__main .contact_us__main_rigth .contact_us__main_contact .contact_us__main_contact_container .contact_us__main_contact_container_info .contact_us__main_contact_container_email textarea {
  display: block;
  width: 100%;
  height: 38px;
  padding: 6px 6px;
  font-size: 14px;
  font-weight: 400;
  color: #495057;
  background-color: #fff;
  border: 1px solid #ced4da;
  -webkit-transition: border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
  transition: border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
  font-family: "Montserrat", sans-serif;
}

.contact_us .contact_us__main .contact_us__main_rigth .contact_us__main_contact .contact_us__main_contact_container .contact_us__main_contact_container_info .contact_us__main_contact_container_email {
  margin-left: 15px;
}

.contact_us .contact_us__main .contact_us__main_rigth .contact_us__main_contact .contact_us__main_contact_container_subject,
.contact_us .contact_us__main .contact_us__main_rigth .contact_us__main_contact .contact_us__main_contact_container_message {
  margin-bottom: 20px;
}

.contact_us .contact_us__main .contact_us__main_rigth .contact_us__main_contact .contact_us__main_contact_container_subject input,
.contact_us .contact_us__main .contact_us__main_rigth .contact_us__main_contact .contact_us__main_contact_container_subject textarea,
.contact_us .contact_us__main .contact_us__main_rigth .contact_us__main_contact .contact_us__main_contact_container_message input,
.contact_us .contact_us__main .contact_us__main_rigth .contact_us__main_contact .contact_us__main_contact_container_message textarea {
  display: block;
  width: 100%;
  height: 38px;
  padding: 6px 6px;
  font-size: 14px;
  font-weight: 400;
  color: #495057;
  background-color: #fff;
  border: 1px solid #ced4da;
  -webkit-transition: border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
  transition: border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
  font-family: "Montserrat", sans-serif;
}

.contact_us .contact_us__main .contact_us__main_rigth .contact_us__main_contact .contact_us__main_contact_container_subject {
  width: 100%;
}

.contact_us .contact_us__main .contact_us__main_rigth .contact_us__main_contact .contact_us__main_contact_container_message textarea {
  height: auto;
}

@media (min-width: 992px) and (max-width: 1199px) {
  .about_us .about_us__container {
    width: 90%;
    margin: 0 auto;
  }
  .services .services__container .services__main_info .services__main_info_card {
    width: 44%;
  }
}

@media (max-width: 991px) {
  .about_us {
    margin-top: 50px;
  }
  .about_us .about_us__container {
    width: 95%;
  }
  .about_us .about_us__container .about_us__header {
    margin-bottom: 50px;
  }
  .about_us .about_us__container .about_us__header p {
    width: 100%;
  }
  .about_us .about_us__container .about_us__first_section {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .about_us .about_us__container .about_us__first_section .about_us__first_section_left {
    width: 100%;
  }
  .about_us .about_us__container .about_us__first_section .about_us__first_section_left .about_us__first_section_left_list .about_us__first_section_left_list_card {
    margin-top: 5px;
  }
  .about_us .about_us__container .about_us__first_section .about_us__first_section_rigth {
    width: 100%;
  }
  .about_us .about_us__container .about_us__second_section {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .about_us .about_us__container .about_us__second_section .about_us__second_section_left {
    width: 100%;
    margin-bottom: 10px;
  }
  .about_us .about_us__container .about_us__second_section .about_us__second_section_rigth {
    width: 100%;
  }
  .about_us .about_us__container .about_us__second_section .about_us__second_section_rigth h1,
  .about_us .about_us__container .about_us__second_section .about_us__second_section_rigth p {
    margin-bottom: 10px;
  }
  .about_us .about_us__container .about_us__third_section {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .about_us .about_us__container .about_us__third_section .about_us__third_section_left {
    width: 100%;
  }
  .about_us .about_us__container .about_us__third_section .about_us__third_section_rigth {
    width: 95%;
  }
  .services .services__container .services__main_info {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .services .services__container .services__main_info .services__main_info_card {
    width: 44%;
  }
}

@media (max-width: 767px) {
  .services .services__container {
    width: 80%;
  }
  .services .services__container .services__main_info .services__main_info_card {
    width: 100%;
  }
}
/*# sourceMappingURL=noe.css.map */