@import url("https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700|Open+Sans:400,600,700&display=swap");
* {
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.about-us {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 60px 0 40px 0;
  -webkit-box-shadow: inset 0px 0px 12px 0px rgba(0, 0, 0, 0.1);
          box-shadow: inset 0px 0px 12px 0px rgba(0, 0, 0, 0.1);
}

.about-us .about-us__container {
  width: 90%;
}

.about-us .about-us__container .about-us__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 15px;
}

.about-us .about-us__container .about-us__header h1 {
  font-family: "Montserrat", sans-serif;
  color: #283d50;
  font-size: 36px;
  font-weight: 500;
  margin-bottom: 20px;
}

.about-us .about-us__container .about-us__header .about-us__header--small {
  font-family: "Open Sans", sans-serif;
  color: #556877;
  font-size: 15px;
  width: 50%;
  text-align: center;
}

.about-us .about-us__container .about-us__first-section {
  padding-bottom: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about-us .about-us__container .about-us__first-section .about-us__first-section--left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 45%;
  padding: 10px;
}

.about-us .about-us__container .about-us__first-section .about-us__first-section--left header {
  line-height: 1.5;
  font-family: "Open Sans", sans-serif;
}

.about-us .about-us__container .about-us__first-section .about-us__first-section--left header .about-us__header--large {
  font-family: "Open Sans", sans-serif;
  color: #556877;
  font-size: 15px;
}

.about-us .about-us__container .about-us__first-section .about-us__first-section--left .about-us__list .about-us__card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 20px;
}

.about-us .about-us__container .about-us__first-section .about-us__first-section--left .about-us__list .about-us__card .about-us__card--left .about-us__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 64px;
  height: 64px;
  border-radius: 50%;
  border: 2px solid #007bff;
  color: #007bff;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.about-us .about-us__container .about-us__first-section .about-us__first-section--left .about-us__list .about-us__card .about-us__card--left .about-us__icon i {
  font-size: 24px;
}

.about-us .about-us__container .about-us__first-section .about-us__first-section--left .about-us__list .about-us__card .about-us__card--left :hover {
  background-color: #007bff;
  color: #ffffff;
}

.about-us .about-us__container .about-us__first-section .about-us__first-section--left .about-us__list .about-us__card .about-us__text {
  margin-left: 10px;
}

.about-us .about-us__container .about-us__first-section .about-us__first-section--left .about-us__list .about-us__card .about-us__text h4 a {
  font-family: "Montserrat", sans-serif;
  color: #283d50;
  text-decoration: none;
}

.about-us .about-us__container .about-us__first-section .about-us__first-section--left .about-us__list .about-us__card .about-us__text p {
  margin-top: 5px;
  font-family: "Open Sans", sans-serif;
  line-height: 24px;
  font-size: 14px;
}

.about-us .about-us__container .about-us__first-section .about-us__first-section--rigth {
  margin-left: 10px;
  width: 45%;
}

.about-us .about-us__container .about-us__first-section .about-us__first-section--rigth img {
  max-width: 100%;
}

.about-us .about-us__container .about-us__second-section {
  padding: 50px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.about-us .about-us__container .about-us__second-section .about-us__second-section--left {
  margin-right: 10%;
  width: 45%;
}

.about-us .about-us__container .about-us__second-section .about-us__second-section--left img {
  max-width: 100%;
}

.about-us .about-us__container .about-us__second-section .about-us__second-section--rigth {
  width: 45%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about-us .about-us__container .about-us__second-section .about-us__second-section--rigth h1 {
  font-family: "Montserrat", sans-serif;
  color: #283d50;
  font-size: 24px;
}

.about-us .about-us__container .about-us__second-section .about-us__second-section--rigth p {
  font-family: "Open Sans", sans-serif;
  color: #556877;
  font-size: 15px;
  text-align: left;
}

.about-us .about-us__container .about-us__third-section {
  padding: 50px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.about-us .about-us__container .about-us__third-section .about-us__third-section--left {
  margin-right: 10%;
  width: 45%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about-us .about-us__container .about-us__third-section .about-us__third-section--left h1 {
  font-family: "Montserrat", sans-serif;
  color: #283d50;
  font-size: 24px;
}

.about-us .about-us__container .about-us__third-section .about-us__third-section--left p {
  font-family: "Open Sans", sans-serif;
  color: #556877;
  font-size: 15px;
  text-align: left;
}

.about-us .about-us__container .about-us__third-section .about-us__third-section--rigth {
  width: 45%;
}

.about-us .about-us__container .about-us__third-section .about-us__third-section--rigth img {
  max-width: 100%;
}

.services {
  background-color: #ecf5ff;
  padding: 60px 0 40px 0;
  -webkit-box-shadow: inset 0px 0px 12px 0px rgba(0, 0, 0, 0.1);
          box-shadow: inset 0px 0px 12px 0px rgba(0, 0, 0, 0.1);
}

.services .services__container {
  width: 85%;
  margin: 0 auto;
}

.services .services__container header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 15px;
}

.services .services__container header h1 {
  font-family: "Montserrat", sans-serif;
  color: #283d50;
  font-size: 36px;
  font-weight: 500;
  margin-bottom: 20px;
}

.services .services__container header p {
  font-family: "Open Sans", sans-serif;
  color: #556877;
  font-size: 15px;
  width: 50%;
  text-align: center;
  margin-bottom: 50px;
}

.services .services__container .services__main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.services .services__container .services__main .services__card {
  overflow: hidden;
  position: relative;
  padding: 30px;
  border-radius: 10px;
  margin: 0 10px 40px 10px;
  background: #fff;
  -webkit-box-shadow: 0 10px 29px 0 rgba(68, 88, 144, 0.1);
          box-shadow: 0 10px 29px 0 rgba(68, 88, 144, 0.1);
  width: 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 4%;
}

.services .services__container .services__main .services__card .services__img {
  position: absolute;
  left: -10px;
  top: calc(50% - 32px);
  width: 20%;
}

.services .services__container .services__main .services__card .services__img .ionic {
  font-size: 70px;
}

.services .services__container .services__main .services__card .services__img .ion-ios-analytics-outline {
  color: #ff689b;
}

.services .services__container .services__main .services__card .services__img .ion-ios-bookmarks-outline {
  color: #e9bf06;
}

.services .services__container .services__main .services__card .services__img .ion-ios-paper-outline {
  color: #3fcdc7;
}

.services .services__container .services__main .services__card .services__img .ion-ios-speedometer-outline {
  color: #41cf2e;
}

.services .services__container .services__main .services__card .services__img .ion-ios-world-outline {
  color: #d6ff22;
}

.services .services__container .services__main .services__card .services__img .ion-ios-clock-outline {
  color: #4680ff;
}

.services .services__container .services__main .services__card .services__text {
  width: 70%;
  margin-left: 20%;
}

.services .services__container .services__main .services__card .services__text h4 {
  font-family: "Montserrat", sans-serif;
  color: #283d50;
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 20px;
}

.services .services__container .services__main .services__card .services__text h4 a {
  color: #000000;
  text-decoration: none;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.services .services__container .services__main .services__card .services__text h4 :hover {
  color: #0b6bd3;
}

.services .services__container .services__main .services__card .services__text p {
  font-family: "Open Sans", sans-serif;
  color: #556877;
  font-size: 14px;
}

.contact-us {
  -webkit-box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.1);
  padding: 60px 0;
  overflow: hidden;
  background-color: #fff;
}

.contact-us header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contact-us header h1 {
  font-family: "Montserrat", sans-serif;
  color: #283d50;
  font-size: 36px;
  font-weight: 500;
  margin-bottom: 60px;
}

.contact-us .contact-us__main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.contact-us .contact-us__main .contact-us__main--left {
  width: 45%;
}

.contact-us .contact-us__main .contact-us__main--left .contact-us__map {
  max-width: 100%;
}

.contact-us .contact-us__main .contact-us__main--rigth {
  width: 45%;
}

.contact-us .contact-us__main .contact-us__main--rigth .contact-us__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.contact-us .contact-us__main .contact-us__main--rigth .contact-us__header .contact-us__address,
.contact-us .contact-us__main .contact-us__main--rigth .contact-us__header .contact-us__email,
.contact-us .contact-us__main .contact-us__main--rigth .contact-us__header .contact-us__phone {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.contact-us .contact-us__main .contact-us__main--rigth .contact-us__header i {
  color: #007bff;
  font-size: 32px;
}

.contact-us .contact-us__main .contact-us__main--rigth .contact-us__header p {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  padding: 0 0 10px 10px;
}

.contact-us .contact-us__main .contact-us__main--rigth .contact-us__form {
  margin-top: 30px;
}

.contact-us .contact-us__main .contact-us__main--rigth .contact-us__form .contact-us__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.contact-us .contact-us__main .contact-us__main--rigth .contact-us__form .contact-us__container .contact-us__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 20px;
}

.contact-us .contact-us__main .contact-us__main--rigth .contact-us__form .contact-us__container .contact-us__info .contact-us__name,
.contact-us .contact-us__main .contact-us__main--rigth .contact-us__form .contact-us__container .contact-us__info .contact-us__mail {
  width: 49%;
}

.contact-us .contact-us__main .contact-us__main--rigth .contact-us__form .contact-us__container .contact-us__info .contact-us__name input,
.contact-us .contact-us__main .contact-us__main--rigth .contact-us__form .contact-us__container .contact-us__info .contact-us__name textarea,
.contact-us .contact-us__main .contact-us__main--rigth .contact-us__form .contact-us__container .contact-us__info .contact-us__mail input,
.contact-us .contact-us__main .contact-us__main--rigth .contact-us__form .contact-us__container .contact-us__info .contact-us__mail textarea {
  display: block;
  width: 100%;
  height: 38px;
  padding: 6px 6px;
  font-size: 14px;
  font-weight: 400;
  color: #495057;
  background-color: #fff;
  border: 1px solid #ced4da;
  -webkit-transition: border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
  transition: border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
  font-family: "Montserrat", sans-serif;
}

.contact-us .contact-us__main .contact-us__main--rigth .contact-us__form .contact-us__container .contact-us__info .contact-us__mail {
  margin-left: 15px;
}

.contact-us .contact-us__main .contact-us__main--rigth .contact-us__form .contact-us__subject,
.contact-us .contact-us__main .contact-us__main--rigth .contact-us__form .contact-us__message {
  margin-bottom: 20px;
}

.contact-us .contact-us__main .contact-us__main--rigth .contact-us__form .contact-us__subject input,
.contact-us .contact-us__main .contact-us__main--rigth .contact-us__form .contact-us__subject textarea,
.contact-us .contact-us__main .contact-us__main--rigth .contact-us__form .contact-us__message input,
.contact-us .contact-us__main .contact-us__main--rigth .contact-us__form .contact-us__message textarea {
  display: block;
  width: 100%;
  height: 38px;
  padding: 6px 6px;
  font-size: 14px;
  font-weight: 400;
  color: #495057;
  background-color: #fff;
  border: 1px solid #ced4da;
  -webkit-transition: border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
  transition: border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
  font-family: "Montserrat", sans-serif;
}

.contact-us .contact-us__main .contact-us__main--rigth .contact-us__form .contact-us__subject {
  width: 100%;
}

.contact-us .contact-us__main .contact-us__main--rigth .contact-us__form .contact-us__message textarea {
  height: auto;
}

.contact-us .contact-us__main .contact-us__main--rigth .contact-us__form .contact-us__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.contact-us .contact-us__main .contact-us__main--rigth .contact-us__form .contact-us__button button[type="submit"] {
  font-family: "Open Sans", sans-serif;
  background: #007bff;
  border: 0;
  border-radius: 20px;
  padding: 8px 30px;
  color: #fff;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  font-size: inherit;
}

.contact-us .contact-us__main .contact-us__main--rigth .contact-us__form .contact-us__button button[type="submit"]:hover {
  background-color: #0067d5;
  cursor: pointer;
}

@media (min-width: 992px) and (max-width: 1199px) {
  .about-us .about-us__container {
    width: 90%;
    margin: 0 auto;
  }
  .services .services__container .services__main .services__card {
    width: 44%;
  }
}

@media (max-width: 991px) {
  .about-us {
    margin-top: 50px;
  }
  .about-us .about-us__container {
    width: 95%;
  }
  .about-us .about-us__container header {
    margin-bottom: 50px;
  }
  .about-us .about-us__container header p {
    width: 100%;
  }
  .about-us .about-us__container .about-us__first-section {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .about-us .about-us__container .about-us__first-section .about-us__first-section--left {
    width: 100%;
  }
  .about-us .about-us__container .about-us__first-section .about-us__first-section--left .about-us__first-section--left .about-us__card {
    margin-top: 5px;
  }
  .about-us .about-us__container .about-us__first-section .about-us__first-section--rigth {
    width: 100%;
  }
  .about-us .about-us__container .about-us__second-section {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .about-us .about-us__container .about-us__second-section .about-us__second-section--left {
    width: 100%;
    margin-bottom: 10px;
  }
  .about-us .about-us__container .about-us__second-section .about-us__second-section--rigth {
    width: 100%;
  }
  .about-us .about-us__container .about-us__second-section .about-us__second-section--rigth h1,
  .about-us .about-us__container .about-us__second-section .about-us__second-section--rigth p {
    margin-bottom: 10px;
  }
  .about-us .about-us__container .about-us__third-section {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .about-us .about-us__container .about-us__third-section .about-us__third-section--left {
    width: 100%;
  }
  .about-us .about-us__container .about-us__third-section .about-us__third-section--rigth {
    width: 95%;
  }
  .services .services__container .services__main {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .services .services__container .services__main .services__card {
    width: 44%;
  }
  .contact-us .contact-us__main {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .contact-us .contact-us__main .contact-us__main--left,
  .contact-us .contact-us__main .contact-us__main--rigth {
    width: 95%;
  }
  .contact-us .contact-us__main .contact-us__main--rigth .contact-us__header .contact-us__address,
  .contact-us .contact-us__main .contact-us__main--rigth .contact-us__header .contact-us__email,
  .contact-us .contact-us__main .contact-us__main--rigth .contact-us__header .contact-us__phone {
    margin-top: 20px;
  }
  .contact-us .contact-us__main .contact-us__main--rigth .contact-us__header .contact-us__address i,
  .contact-us .contact-us__main .contact-us__main--rigth .contact-us__header .contact-us__email i,
  .contact-us .contact-us__main .contact-us__main--rigth .contact-us__header .contact-us__phone i {
    width: 32px;
  }
  .contact-us .contact-us__main .contact-us__main--rigth .contact-us__header .contact-us__address p,
  .contact-us .contact-us__main .contact-us__main--rigth .contact-us__header .contact-us__email p,
  .contact-us .contact-us__main .contact-us__main--rigth .contact-us__header .contact-us__phone p {
    padding-left: 20px;
  }
  .contact-us .contact-us__main .contact-us__main--rigth .contact-us__form .contact-us__container .contact-us__info {
    margin-bottom: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .contact-us .contact-us__main .contact-us__main--rigth .contact-us__form .contact-us__container .contact-us__info .contact-us__name,
  .contact-us .contact-us__main .contact-us__main--rigth .contact-us__form .contact-us__container .contact-us__info .contact-us__mail {
    width: 100%;
  }
  .contact-us .contact-us__main .contact-us__main--rigth .contact-us__form .contact-us__container .contact-us__info .contact-us__mail {
    margin-left: 0;
    margin-top: 20px;
  }
  .contact-us .contact-us__main .contact-us__main--rigth .contact-us__form .contact-us__container .contact-us__subject {
    margin-top: 20px;
  }
}

@media (max-width: 767px) {
  .services .services__container {
    width: 80%;
  }
  .services .services__container .services__main .services__card {
    width: 100%;
  }
  .contact-us .contact-us__main {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .contact-us .contact-us__main .contact-us__main--left,
  .contact-us .contact-us__main .contact-us__main--rigth {
    width: 90%;
  }
  .contact-us .contact-us__main .contact-us__main--rigth .contact-us__header {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .contact-us .contact-us__main .contact-us__main--rigth .contact-us__header .contact-us__address,
  .contact-us .contact-us__main .contact-us__main--rigth .contact-us__header .contact-us__email,
  .contact-us .contact-us__main .contact-us__main--rigth .contact-us__header .contact-us__phone {
    margin-top: 20px;
  }
  .contact-us .contact-us__main .contact-us__main--rigth .contact-us__header .contact-us__address i,
  .contact-us .contact-us__main .contact-us__main--rigth .contact-us__header .contact-us__email i,
  .contact-us .contact-us__main .contact-us__main--rigth .contact-us__header .contact-us__phone i {
    width: 32px;
  }
  .contact-us .contact-us__main .contact-us__main--rigth .contact-us__header .contact-us__address p,
  .contact-us .contact-us__main .contact-us__main--rigth .contact-us__header .contact-us__email p,
  .contact-us .contact-us__main .contact-us__main--rigth .contact-us__header .contact-us__phone p {
    padding-left: 20px;
  }
  .contact-us .contact-us__main .contact-us__main--rigth .contact-us__form .contact-us__container .contact-us__info {
    margin-bottom: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .contact-us .contact-us__main .contact-us__main--rigth .contact-us__form .contact-us__container .contact-us__info .contact-us__name,
  .contact-us .contact-us__main .contact-us__main--rigth .contact-us__form .contact-us__container .contact-us__info .contact-us__mail {
    width: 100%;
  }
  .contact-us .contact-us__main .contact-us__main--rigth .contact-us__form .contact-us__container .contact-us__info .contact-us__mail {
    margin-left: 0;
    margin-top: 20px;
  }
  .contact-us .contact-us__main .contact-us__main--rigth .contact-us__form .contact-us__container .contact-us__subject {
    margin-top: 20px;
  }
}

.portfolius_imagen {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
  width: 200px;
  height: 200px;
  background-image: url("https://newbiz-master-uqgespkghu.now.sh/img/portfolio/app1.jpg");
  background-position: center;
  background-size: cover;
  margin: 20px;
  border-radius: 50%;
}

.portfolius_imagen span.cito {
  display: none;
}

.portfolius_imagen:hover span.cito {
  display: block;
}

.portfolius_imagen:hover {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 62, 128, 0.7)), to(rgba(0, 62, 128, 0.7))), url("https://newbiz-master-uqgespkghu.now.sh/img/portfolio/app1.jpg");
  background-image: linear-gradient(rgba(0, 62, 128, 0.7), rgba(0, 62, 128, 0.7)), url("https://newbiz-master-uqgespkghu.now.sh/img/portfolio/app1.jpg");
}
/*# sourceMappingURL=noe.css.map */