@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

body {
    margin: 0;
}
footer {
    background-color:  #004a99;
    color: #ffffff;
    font-family: 'Open Sans', sans-serif;
    display: flex;
    flex-direction: column; 
    font-family: 'Montserrat', sans-serif;
}

footer h3 {
    font-size: 30px;
}

.contact_us {
    width: 250px;
    line-height: 25px;
    color: #ffffff;
}

.contact_us h4 {
    font-weight: bold;
}

.contact_info{
    font-size: 12px;
}

.contact_icons {
    display: flex;
    margin-top: 15px;
}

.contact_icons a{
    border-radius: 50%;
    background: #007bff;
    width: 36px;
    height: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 3px;
}

a {
    text-decoration: none;
}

i {
    color: #ffffff;
}

.contact_us, .contact_info {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.wayne {
    height: 150px;
    width: 100px;
}

.useful {
    height: 150px;
    width: 100px;
}
.pie {
    background-color: #00428a;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}