/* Notas sobre el maquetado
- Entre los 1200 y los 900 px, todo el ultimo div (“our newsletter”) sobresale del body hacia la derecha, forzando un scroll horizontal. Esto ocurre porque cada uno de los cuatro divs que tienen contenido tiene un pixelaje estático. Si bien normalmente flex va a ignorar este pixelaje, en este caso no ocurre porque están contenidos adentro de dos divs (bloque1 y bloque2). Mi recomendación en este caso seria quitar el height y el width en pixeles y reemplazarlo o bien por porcentaje o bien con flex-1. Esto quizá traiga algunos problemas de alineación vertical, pero es preferible una alineación vertical mas desprolija a que el contenido de la pagina no se vea. 
- No hay ninguna diferencia visual entre títulos y contenido. En el modelo, los títulos están en negrita. Noten que si a los h4 les ponemos font-weight: bold no hay ninguna diferencia: eso es porque al importar la tipografía de Google, también debemos importar el modelo “bold” para que este sea utilizado. Con reemplazar el import por este “@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap’);” ya se soluciona el problema. 
- Entre los 900 y los 600 px de resolución de pantalla, los elementos no se ordenan como en el modelo (en el que forman un cuadrado). Esto también podría solucionarse con flex 1 en cada elemento y alguna separación con margin 
- En la resolución menor a 600 px, seria bueno que el input tuviera un width del 100%, tal como lo tiene en el modelo. También habría que corregir las distancias entre los elementos. 
- Hay mucho css sobrante, que les ire comentando a lo largo del CSS.  */

@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

body {
    margin: 0;
}
footer {
    background-color:  #004a99;
    color: #ffffff;
    font-family: 'Open Sans', sans-serif;
    display: flex;
    flex-direction: column; 
    font-family: 'Montserrat', sans-serif;
    /* atencion, aqui hay dos font-family: el navegador solo tomará el último */
       
}
 
.footer_principal{
    display: flex;
    padding: 50px;
}

.block1, .block2 {
    display: flex;
    flex-direction: row;
    /* recuerden que no es necesario poner flex direction row */
}
.footer_principal > div {
    flex: 1;
    /* este selector es identico, a niveles practicos, al de mas arriba (block1, block2). podrian integrarse */
}



h3 {
    font-size: 30px;
    margin-bottom: 10px;
}
.wayne {
    width: 300px;
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
   
}

.useful {
    width: 300px;
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 


}

ul {
    display: flex;
    flex-direction: column;
    line-height: 30px;
    padding: 0px;
    margin-top:10px;
    list-style: none;
}
ul a:hover {
    color: #74b5fc;
}
.pie {
    background-color: #00428a;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact_us {
    width: 250px;
    line-height: 25px;
    color: #ffffff;
}

.contact_us h4 {
    font-weight: bold;
    /* esta declaracion es innecesaria porque h4 ya es por defecto bold. si no se ve bold es proque esa tipografia no esta importada */
}

.contact_info{
    font-size: 12px;
}

.contact_icons {
    display: flex;
    margin-top: 15px;
}

.contact_icons a{
    border-radius: 50%;
    background: #007bff;
    width: 36px;
    height: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 3px;
    transition: all 1s;
}

.contact_icons a:hover{
    background-color: #0067d5;
}

a {
    text-decoration: none;
    color: #fff;
  transition: 0.5s;
}

i {
    color: #ffffff;
}

.contact_us, .contact_info {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    /* no es necesario aclarar flex-start */
}



.newsletter {
    width: 300px;
    height: 250px;
    
}

.subscribe{
    display: flex;
    flex-direction: row;
    margin-top: 40px;
    height: 34px;

}

input[type="email"]{
    width: 150px;
    height: auto;

}
input[type="submit"]{
    background-color: #007bff;
    border: none;
    color: #FFF;
    text-align: center;
    width: 130px;
    height: auto;
}

input[type="submit"]:hover {
    background-color: #0067d5;
  }
  



.pie span {
    font-weight: bold;
}




@media (min-width:601px) and (max-width:900px) {
    .footer_principal {
        display: flex;
        flex-direction: column;
           
    
    }
        
    .block1 {
        display: flex;
        flex-direction: row;
            
    }
    .block2 {
        display: flex;
        flex-direction: row;

    }
    /* estos dos ultimos selectores son innnecesarios, ya que bloque 1 y bloque 2 ya son flex y row por la declaracion de mas arriba */

    .wayne , .useful {
        flex: 1;
    }
    
    .contact_us, .newsletter {
       flex: 1; 

    } 
    /* estos dos selectores podrian integrarse en uno solo */

}

@media (max-width:600px) {
    body {
        margin: 0;
    }
    .footer_principal {
        display: flex;
        flex-direction: column;
                    
    }

    .block1, .block2 {
        display: flex;
        flex-direction: column;
       
        
    }

    /* no es necesario repetir display: flex para cambiar la flex direction.  */
    
    .useful {
        width:auto;
        display: flex;
        align-items: flex-start;
    }
    
    .subscribe input {
    width: 100px;
    }

    .wayne {
        width: auto;
        padding-bottom:30px;
    }

    .newsletter {
        width: auto;
        padding-bottom:30px;
    }

   

}
