@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');
body {
    margin: 0;
}
footer {
    background-color: #00428a;
    color: #ffffff;
    font-family: 'Open Sans', sans-serif;
    text-align: justify;
    display: flex;
    flex-direction: column; 
}

footer h3 {
    font-size: 30px;
}